[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
markupsafe = "*"
pytz = "==2021.3"
pandas = "*"
python-dotenv = "*"
boto3 = "*"
requests = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
