<!DOCTYPE html>
<html>
    <head>
        <title>About Ruby</title>
        <meta name="description" content="What is the Ruby tool anyways?">
        <link rel="icon" href="{{ url_for('static', filename='images/logo_transparent.png') }}">
        <meta name="author" content="SelfDotUser">

        <meta charset="UTF-8">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>


    <body class="Body">
        <div class="Header">
            <img onclick="document.location='./'" src="/static/images/logo_transparent.png">
            <h1>Ruby</h1>

            <ul>
                <a href="./about.html" style="background-color:darkgreen;">About</a>
                <a href="./developers.html">Developers</a>
                <a href="https://discord.gg/CQdXH8aSb6">Discord</a>
            </ul>
        </div>


        <div class="Content">
            <p id="paragraphs">&emsp;&emsp;&emsp;&emsp;SelfDotUser, a student at the University of California, Irvine, designed the Ruby Tool.</p>
            <p id="paragraphs">&emsp;&emsp;&emsp;&emsp;Ruby is a simple tool: it documents weight. As the COVID-19 pandemic raged on, SelfDotUser began a weight loss journey. He discovered that graphing his weight loss motivated him to continue his journey. Although he had used the Apple Health app, SelfDotUser wanted to create his own weight graphing tool. In comes Ruby.</p>
            <p id="paragraphs">&emsp;&emsp;&emsp;&emsp;The project began as a challenge to SelfDotUser to improve on all areas he is perfecting. Ruby uses a combination of Python, TypeScript, and Swift to function. Using technologies from the web, REST APIs, Node.js, and iOS, Ruby continues to improve thanks to the restlessness of its sole developer.</p>
            <br>
        </div>


        <div class="Footer">
            <h6>(c) SelfDotUser</h6>
        </div>

        <script>
            const proposed_weight = document.body.clientHeight / 1.5;

            if (!proposed_weight < document.body.clientHeight) {
                document.getElementById("content-div").style.height = proposed_weight;
            }
        </script>

    </body>
</html>