<!DOCTYPE html>
<html>
    <head>
        <title>Ruby</title>
        <meta name="description" content="Try the Ruby tool on Discord!">
        <link rel="icon" href="{{ url_for('static', filename='images/logo_transparent.png') }}">
        <meta name="author" content="Carlos Valdez">

        <meta charset="UTF-8">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>


    <body class="Body">
        <div class="Header">
            <img onclick=`document.location="./"` src="/static/images/logo_transparent.png">
            <h1>Ruby</h1>

            <ul>
                <a href="./about.html">About</a>
                <a href="https://discord.gg/CQdXH8aSb6">Discord</a>
            </ul>
        </div>


        <div class="Content" id="content-div">
            <h1 style="text-align:center;">Document your weight using the Ruby tool!</h1>

            <img style="text-align:center;" onclick="document.location='https://discord.gg/CQdXH8aSb6'" src="/static/images/discord.png">
        </div>

        <div class="Footer">
            <h6>(c) Carlos Valdez</h6>
        </div>

        <script>
            var content = document.getElementById("content-div");

            const height = document.body.clientHeight;

            console.log(content.style.height.toString())
        </script>
    </body>
</html>